.timer {
    text-align: center !important;
    font-size: 3.0em !important;
    line-height: 1.0em !important;
    color: red !important;
}

.market {
    text-align: center !important;
    font-size: 3.0em !important;
    line-height: 1.0em !important;
    color: black !important;
}

.landingPageDescription {
    text-align: center !important;
    font-size: 2.0em !important;
    line-height: 1.0em !important;
    color: black !important;
}

.centerIcon {
    text-align: center !important;
}

.calendar-page {
    padding-top: 10.0em !important;
}


.calendar-page-appear {
    opacity: 0;
}
.calendar-page-appear.calendar-page-appear-active {
    opacity: 1;
    transition: all 1500ms linear;
}

.calendar-page-enter {
    opacity: 1;
}
.calendar-page-enter.calendar-page-enter-active {
    opacity: 1;
    transition: all 1500ms linear;
}
.calendar-page-enter-done {
    opacity: 1;
}

.calendar-page-exit {
    opacity: 1;
}
.calendar-page-exit.calendar-page-exit-active {
    opacity: 0;
    transition: all 1500ms linear;
}
.calendar-page-exit-done {
    opacity: 0;
}
