.center {
    text-align: center;
}

.companyinfo {
 background-image: linear-gradient(to left, #141e30 , #243b55) !important;
 /* background-color: transparent !important; */
 color: white !important;
 margin-top: 1.0em !important;
}