.center {
    text-align: center;
}

.companyinfo {
 background-image: linear-gradient(to left, #a73737 , #712828) !important;
 /* background-color: transparent !important; */
 color: white !important;
 margin-top: 1.0em !important;
}


