.center {
    text-align: center;
    color: black !important;
}

.companyinfo {
    background-color: transparent !important;
    border: none !important;
    margin-top: 1.0em !important;
}

.topbanner {
    color: black !important;
    padding-top: 6.0em;
    padding-bottom: 2.0em;
}



