.displaynews {
    background-image: linear-gradient(to left, #141e30 , #243b55) !important;
    color: white !important;
    border: none !important;
    
}

.displaynews-.items {
    border-color: white !important;
}