.segment {
    background-color: transparent !important;
    color: black !important;
}

.inner {
    border: none !important;
}

.displaynews-.items {
    border-color: white !important;
}
.displaynews {
    color: #cccccc !important;
}
.meta{
    color: #cccccc !important;
}

.topbanner {
    padding-top: 6.0em;
    padding-bottom: 2.0em;
}