.segment {
    background-color: transparent !important;
    border: 2px black solid !important;
    color: black !important;
}

.inner {
    border: none !important;
}

.displaynews-.items {
    border-color: white !important;
}