.center {
    text-align: center;
}

.transparent {
    background-color: transparent !important;
    margin-top: 0 !important;
    border-style: none !important;
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.individual {
    background-color: transparent !important;
    color: white !important;
}