.footer {
    background-color: transparent !important;
    color: black !important;
    text-align: center !important;
    height: 10vh !important;
    font-size: 1.0em !important;
    padding-top: 1.0em !important;
    margin-bottom: 10.0em !important;
}