

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.landing-page-appear {
    opacity: 0;
    height: 100% !important;
}
.landing-page-appear.landing-page-appear-active {
    opacity: 1;
    height: 100% !important;
    transition: all 1500ms linear;
}
.landing-page-enter-done {
    opacity: 1;
    height: 100% !important;
}
.landing-page-enter {
    opacity: 0;
    height: 100%;
}
.landing-page-enter.landing-page-enter-active {
    opacity: 1;
    height: 100% !important;
    transition: all 1500ms linear;
}
.landing-page-exit {
    opacity: 1;
    height: 100% !important;
}
.landing-page-exit.landing-page-exit-active {
    height: 35% !important;
    border: none;
    transition: all 1500ms linear;
}
.landing-page-exit-done {
    height: 35% !important;
}
