.center {
    text-align: center;
    
}
.maindisplay {
    background-color: #222626 !important;
    margin-top: 1.0em !important;
}

.up {
    color: #008000 !important;
}

.down {
    color: red !important;
}


.large {
    font-size: 2.5em;
    font-family: 'Staatliches', cursive;
}

.largePrice {
    font-size: 5.0em;
}