
.border {
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}
/* Responsive */
@media screen and (max-width: 50em){
    .border{
        border-top: 0 !important;
    }
    .column {
        margin: auto !important;
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    .header{
        width: 50% !important;
        margin: none !important;
        float: left !important;
    }
    .context{
        width: 50% !important;
        margin: none !important;
    }
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.individual {
    background-color: transparent !important;
    color: white !important;
}