.stockstatistics {
    background-image: linear-gradient(to left, #141e30 , #243b55) !important;
    /* background-color: transparent !important; */
    color: white !important;
}

td {
    border: none !important;
}
table {
    border: none !important;
}