.stockstatistics {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}

.title {
    font-weight: 900;
}

.topbanner {
    padding-top: 6.0em;
    padding-bottom: 2.0em;
}

td {
    border: none !important;
    color: black !important;
}
table {
    border: none !important;
}