.stockstatistics {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}

.title {
    font-weight: 900;
}

.top-title {
    text-align: center !important;
    padding-bottom: 2.5em !important;
}

td {
    border: none !important;
}
table {
    border: none !important;
}